
$blue:    #1c2738;
$gray-300: #34383c;
$gray: rgb(183, 179, 179);
$white: rgb(248, 247, 247);
$gray-900: rgb(60, 59, 59);
$success: #b8e6d1;
$danger: #e4bcc0;
$gray-100: #939596;
$gray-200: #616262;
$gray-600: rgb(44, 44, 44);

$text-muted: $gray-600;


$primary: $gray;
$secondary: $white;





