
@import "variables.scss"; 

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

main {
    background-color: $primary;
}

.col-md-8 {
    background-color: $gray-900;
}

.img-radius {
    width: 100%;
}


.btn-outline-primary {
    color: $black;
}
   

.navbar-dark {
    background-color: $gray-300;
}



.text-muted {
    color: $gray-600;
}

.vh-100 {
    background-color: $primary;
}

.form-control {
    border: $white;
}

.error {
   display: none;
}

a {
    color: $black;
    text-decoration: none;
}

#posts-container {
    background-color: $gray-900;
    align-items: center;
    margin: auto;
    
}

#posts-container img {
    width: 100%;
    max-height: 500px;
    max-width: 700px;
    margin: auto;
    display: block;
    align-items: center;
}

#posts-container a {
    text-align: center;
}

select {
    padding: 10px;
    margin-top: 20px;
}


#peofilePost button {
    margin-bottom: 20px;

}