
@import "variables.scss"; 

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

html, body {
    height: 100%;
}

main {
    background-color: $primary;
}

.col-md-8 {
    background-color: $gray-900;
}

.img-radius {
    width: 100%;
}


.btn-outline-primary {
    color: $black;
}
   

.navbar-dark {
    background-color: $gray-300;
}



.text-muted {
    color: $gray-600;
}

.vh-100 {
    background-color: $primary;
}

.form-control {
    border: $white;
}

.error {
   display: none;
}

a {
    color: $black;
    text-decoration: none;
}

#wrapper {
    background-color: $gray-900;
    align-items: center;
    margin: auto;
    
}

#wrapper img {
    width: 100%;
    max-height: 500px;
    max-width: 700px;
    margin: auto;
    display: block;
    align-items: center;
}

#wrapper button {
    width: 150px;
    
}


select {
    padding: 10px;
    margin-top: 20px;
}

h1 {
    color: $white;
    text-align: center;
    font-size: 4rem;
}


#profilepost {
   height: 100%;
}


.sort {
    color: $white;
}

.filternewest {
    
}


